@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
	 Убираем внутренние отступы слева тегам списков,
	 у которых есть атрибут class
	*/
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
	 Убираем внешние отступы body и двум другим тегам,
	 у которых есть атрибут class
	*/
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
	 Убираем внешние отступы вертикали нужным тегам,
	 у которых есть атрибут class
	*/
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
	 Убираем стандартный маркер маркированному списку,
	 у которого есть атрибут class
	*/
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
	 Обнуляем вертикальные внешние отступы параграфа,
	 объявляем локальную переменную для внешнего отступа вниз,
	 чтобы избежать взаимодействие с более сложным селектором
	*/
p {
  --paragraphMarginBottom: 24px;
  margin-block: 0;
}

/**
	 Внешний отступ вниз для параграфа без атрибута class,
	 который расположен не последним среди своих соседних элементов
	*/
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
	 Упрощаем работу с изображениями
	*/
img {
  display: block;
  max-width: 100%;
}

/**
	 Наследуем свойства шрифт для полей ввода
	*/
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
  	 Пригодится в большинстве ситуаций
  	 (когда, например, нужно будет "прижать" футер к низу сайта)
  	*/
  height: 100%;
}

/**
	 Плавный скролл
	*/
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
  	 Пригодится в большинстве ситуаций
  	 (когда, например, нужно будет "прижать" футер к низу сайта)
  	*/
  min-height: 100%;
  /**
  	 Унифицированный интерлиньяж
  	*/
}

/**
	 Приводим к единому цвету svg-элементы
	*/
svg *[fill] {
  fill: currentColor;
}

svg *[stroke] {
  stroke: currentColor;
}

/**
	 Чиним баг задержки смены цвета при взаимодействии с svg-элементами
	*/
svg * {
  transition-property: fill, stroke;
}

/**
	 Удаляем все анимации и переходы для людей,
	 которые предпочитают их не использовать
	*/
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Book.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Futura PT";
  src: url("../fonts/FuturaPT-Medium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
}
:root {
  --color-accent: #5D71DD;
  --color-accent-alt: #6C7DD8;
  --color-white: #FFFFFF;
  --color-main-background: #F9F9F9;
  --color-light-grey: #F5F5F5;
  --color-dark: #2F2222;
  --color-dark-light: rgba(47, 34, 34, 0.4);
  --color-accent-light: rgba(93, 113, 221, 0.05);
  --color-accent-light-hover: rgba(93, 113, 221, 0.15);
  --font-family-base: "Futura PT";
  --box-shadow: 4px 8px 40px 0 rgba(8, 24, 111, 0.2);
  --box-shadow-darker: 4px 8px 40px 0 rgba(8, 24, 111, 0.4);
  --container-width: 1400px;
  --container-padding-x: 42px;
  --border: 1px solid transparent;
  --border-radius-cards: 20px;
  --grid-row-gap: 40px;
  --grid-column-gap: 40px;
  --transition: 0.2s;
}
@media (max-width: 767px) {
  :root {
    --container-padding-x: 20px;
  }
}
@media (max-width: 767px) {
  :root {
    --border-radius-cards: 10px;
  }
}
@media (max-width: 1288px) {
  :root {
    --grid-column-gap: 20px;
  }
}
@media (max-width: 1023px) {
  :root {
    --grid-row-gap: 20px;
  }
}

body {
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-main-background);
}

html,
body {
  max-width: 100%;
}

button {
  cursor: pointer;
}

*::after,
*::before {
  transition: var(--transition);
}

a,
button,
input,
textarea,
svg * {
  transition-duration: var(--transition);
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family-base);
}

h2 {
  font-weight: 500;
  font-size: 24px;
  color: var(--color-dark);
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
          clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 767px) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (min-width: 768px) {
  .visible-mobile {
    display: none !important;
  }
}

.is-current {
  position: relative;
  color: var(--color-accent);
}
.is-current::after {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  content: "" !important;
  width: 100% !important;
  height: 1px !important;
  background-color: var(--color-accent) !important;
  top: 100% !important;
}

.text-center {
  text-align: center;
}

.phone {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-weight: 500;
  font-size: 24px;
}

.date {
  color: var(--color-dark-light);
  font-weight: 400;
  font-size: 18px;
}

.white-text {
  color: var(--color-white);
}

.accent-text {
  color: var(--color-accent);
}

.header {
  background-color: var(--color-white);
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 11px;
}
@media (max-width: 1023px) {
  .header__inner {
    padding-block: 5px;
  }
}
.header__list {
  display: flex;
  align-items: center;
  gap: 40px;
}
.header__link {
  font-size: 18px;
  position: relative;
}
.header__link:not(.phone)::after {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--color-dark);
  top: 100%;
}
@media (hover: hover) {
  .header__link:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .header__link:active::after {
    width: 100%;
  }
}

.logo__circles {
  width: 48px;
  aspect-ratio: 1;
  position: relative;
}
@media (max-width: 767px) {
  .logo__circles {
    width: 40px;
    aspect-ratio: 1;
  }
}
.logo__circles::after, .logo__circles::before {
  position: absolute;
  content: "";
}
.logo__circles::after {
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50px;
  background-color: var(--color-accent);
}
.logo__circles::before {
  width: 54%;
  aspect-ratio: 1;
  bottom: 0;
  right: -0.4%;
  z-index: 1;
  border-radius: 50px;
  background-color: var(--color-white);
  box-shadow: 0 4px 4px 0 rgba(57, 70, 136, 0.18);
}

.cross-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  aspect-ratio: 1;
  border-radius: 50px;
  background-color: var(--color-accent);
  position: relative;
}
@media (hover: hover) {
  .cross-button:hover {
    background-color: var(--color-accent);
  }
  .cross-button:hover::after, .cross-button:hover::before {
    background-color: var(--color-white);
  }
}
@media (hover: none) {
  .cross-button:active {
    background-color: var(--color-accent);
  }
  .cross-button:active::after, .cross-button:active::before {
    background-color: var(--color-white);
  }
}
.cross-button::after, .cross-button::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 50%;
  height: 2px;
  background-color: var(--color-white);
  border-radius: 5px;
}
.cross-button::after {
  rotate: 45deg;
}
.cross-button::before {
  rotate: -45deg;
}

.burger-button {
  padding: 0;
  background-color: transparent;
  border: none;
  width: 40px;
  aspect-ratio: 1;
  position: relative;
  border-radius: 50px;
}
@media (hover: hover) {
  .burger-button:hover {
    background-color: var(--color-accent);
  }
  .burger-button:hover::after {
    background-color: var(--color-white);
    box-shadow: 0 -6px var(--color-white), 0 6px var(--color-white);
  }
}
@media (hover: none) {
  .burger-button:active {
    background-color: var(--color-accent);
  }
  .burger-button:active::after {
    background-color: var(--color-white);
    box-shadow: 0 -6px var(--color-white), 0 6px var(--color-white);
  }
}
.burger-button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  content: "";
  width: 60%;
  height: 2px;
  background-color: var(--color-dark);
  border-radius: 5px;
  box-shadow: 0 -6px var(--color-dark), 0 6px var(--color-dark);
}

.mobile-overlay {
  width: 100%;
  height: 100%;
  border: none;
  background-color: var(--color-main-background);
  padding: 11px var(--container-padding-x);
}
@media (max-width: 1023px) {
  .mobile-overlay {
    padding-block: 5px;
  }
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}
.mobile-overlay__close-button-wrapper {
  display: flex;
  justify-content: flex-end;
}
.mobile-overlay__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  min-height: 75vh;
}
.mobile-overlay__link {
  font-size: 24px;
}
@media (hover: hover) {
  .mobile-overlay__link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .mobile-overlay__link:active {
    color: var(--color-accent);
  }
}

.hero {
  background-image: url("../images/hero/hero-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 300px;
}
@media (max-width: 1023px) {
  .hero {
    height: 250px;
  }
}
@media (max-width: 767px) {
  .hero {
    height: 200px;
  }
}
@media (max-width: 480px) {
  .hero {
    height: 150px;
  }
}

.content {
  padding-top: 40px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 40px;
       column-gap: 40px;
}
@media (max-width: 1288px) {
  .content {
    grid-template-columns: repeat(3, 1fr);
  }
}
.content__main {
  grid-column: span 3;
}
.content__list {
  display: grid;
  grid-auto-flow: dense;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: var(--grid-row-gap);
  -moz-column-gap: var(--grid-column-gap);
       column-gap: var(--grid-column-gap);
}
@media (max-width: 1023px) {
  .content__list {
    grid-template-columns: 1fr 1fr;
  }
}
.content__pagination {
  margin-top: 80px;
  margin-bottom: 100px;
}
@media (max-width: 1288px) {
  .content__pagination {
    margin-bottom: 0;
  }
}
.content__load-more {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content__load-more-button {
  padding: 0;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  background-color: var(--color-accent);
  color: var(--color-white);
  border-radius: 20px;
  padding-inline: 68px;
  height: 50px;
}
@media (hover: hover) {
  .content__load-more-button:hover {
    background-color: var(--color-accent-alt);
  }
  .content__load-more-button:hover img {
    animation: rotate 0.6s;
  }
}
@media (hover: none) {
  .content__load-more-button:active {
    background-color: var(--color-accent-alt);
  }
  .content__load-more-button:active img {
    animation: rotate 0.6s;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.sidebar {
  position: sticky;
  width: 100%;
  background-color: transparent;
  height: -moz-max-content;
  height: max-content;
  top: 20px;
  grid-column: -1/-2;
}
@media (max-width: 1288px) {
  .sidebar {
    grid-column: span 3;
    padding-top: 96px;
  }
}
.sidebar__title {
  padding-bottom: 30px;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-bottom: 40px;
}
@media (max-width: 1288px) {
  .sidebar__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    -moz-column-gap: 20px;
         column-gap: 20px;
    padding-bottom: 60px;
  }
}
@media (max-width: 1023px) {
  .sidebar__list {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
}
.sidebar__item {
  position: relative;
}
.sidebar__item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: rgba(47, 34, 34, 0.1);
  top: calc(100% + 10px);
}
@media (max-width: 1288px) {
  .sidebar__item:not(:last-child)::after {
    display: none;
  }
}
@media (max-width: 1023px) {
  .sidebar__item:not(:last-child)::after {
    display: block;
  }
}
.sidebar__news {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  position: relative;
  height: 100%;
}
@media (max-width: 1288px) {
  .sidebar__news {
    justify-content: space-between;
  }
}
.sidebar__news-title {
  font-weight: 400;
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1288px) {
  .sidebar__news-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
@media (hover: hover) {
  .sidebar__news-link:hover {
    color: var(--color-accent);
  }
}
@media (hover: none) {
  .sidebar__news-link:active {
    color: var(--color-accent);
  }
}
.sidebar__news-link::after {
  position: absolute;
  content: "";
  inset: 0;
}
.sidebar__form-wrapper {
  display: flex;
  flex-direction: column;
  gap: 30px;
  background-color: var(--color-white);
  padding: 40px 30px 50px;
  border-radius: 20px;
}
@media (max-width: 480px) {
  .sidebar__form-wrapper {
    margin-inline: -20px;
  }
}
.sidebar__form-title {
  text-align: center;
}
@media (max-width: 1023px) {
  .sidebar__form-title {
    margin-inline: auto;
    max-width: 644px;
    width: 100%;
    text-align: left;
  }
}
@media (max-width: 480px) {
  .sidebar__form-title {
    text-align: center;
  }
}

.email-form {
  display: flex;
  flex-direction: column;
  row-gap: 21px;
}
@media (max-width: 1288px) {
  .email-form {
    flex-direction: row;
    margin-inline: auto;
    -moz-column-gap: 20px;
         column-gap: 20px;
    max-width: 644px;
    width: 100%;
  }
}
@media (max-width: 767px) {
  .email-form {
    flex-direction: column;
  }
}
.email-form__input {
  border-radius: 20px;
  padding-inline: 30px;
  height: 50px;
  width: 100%;
  border: none;
  font-size: 18px;
  background-color: var(--color-light-grey);
  color: rgba(47, 34, 34, 0.6);
}
.email-form__input::-moz-placeholder {
  color: var(--color-dark-light);
}
.email-form__input::placeholder {
  color: var(--color-dark-light);
}
@media (hover: hover) {
  .email-form__input:hover {
    background-color: var(--color-main-background);
  }
}
@media (hover: none) {
  .email-form__input:active {
    background-color: var(--color-main-background);
  }
}
.email-form__button {
  padding: 0;
  background-color: transparent;
  border: none;
  background-color: var(--color-accent);
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 10px;
       column-gap: 10px;
  width: 100%;
  font-size: 18px;
}
@media (hover: hover) {
  .email-form__button:hover {
    background-color: var(--color-accent-alt);
  }
}
@media (hover: none) {
  .email-form__button:active {
    background-color: var(--color-accent-alt);
  }
}
@media (max-width: 1288px) {
  .email-form__button {
    max-width: 244px;
  }
}
@media (max-width: 767px) {
  .email-form__button {
    max-width: 100%;
  }
}

.news-card {
  background-color: var(--color-white);
  height: 400px;
  border-radius: 20px;
  padding: 40px 120px 0 40px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  transition: var(--transition);
}
@media (hover: hover) {
  .news-card:hover {
    box-shadow: var(--box-shadow);
  }
}
@media (hover: none) {
  .news-card:active {
    box-shadow: var(--box-shadow);
  }
}
.news-card__category {
  color: var(--color-accent);
  background-color: var(--color-accent-light);
  border-radius: 8px;
  padding: 8px 16px;
  position: relative;
  transition: var(--transition);
  z-index: 1;
}
@media (hover: hover) {
  .news-card__category:hover {
    background-color: var(--color-accent-light-hover);
  }
}
@media (hover: none) {
  .news-card__category:active {
    background-color: var(--color-accent-light-hover);
  }
}
.news-card__category a::after {
  position: absolute;
  content: "";
  inset: 0;
}
.news-card__title {
  padding-top: 30px;
  font-weight: 500;
  font-size: 24px;
}
.news-card__title a::after {
  position: absolute;
  content: "";
  inset: 0;
}
.news-card__text {
  padding-top: 20px;
}
.news-card__text p {
  color: var(--color-dark-light);
  font-size: 18px;
  display: -webkit-box;
  -webkit-line-clamp: 6;
  line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 480px) {
  .news-card__text p {
    display: -webkit-box;
    -webkit-line-clamp: 4;
    line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
.news-card__date {
  position: absolute;
  top: 40px;
  right: 40px;
  font-size: 16px;
}
.news-card--3x2 {
  grid-column: span 3;
  grid-row: span 2;
  max-height: 280px;
}
.news-card--3x2 p {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1023px) {
  .news-card--3x2 {
    grid-column: span 2;
    padding: 40px;
  }
}
.news-card--2x2 {
  grid-column: span 2;
  grid-row: span 2;
  padding: 40px 40px 0 40px;
}
.news-card--1x2 {
  grid-column: span 1;
  grid-row: span 2;
  padding: 40px 30px 0 30px;
}
.news-card--1x2 .news-card__text {
  display: none;
}
.news-card--1x2 .news-card__date {
  top: auto;
  right: auto;
  bottom: 40px;
  left: 30px;
}
.news-card--2x1 {
  grid-column: span 2;
  grid-row: span 1;
  max-height: 180px;
  padding: 30px 40px 0 40px;
}
.news-card--2x1 .news-card__text {
  display: none;
}
@media (max-width: 1023px) {
  .news-card--2x1 .news-card__text {
    display: block;
  }
}
.news-card--2x1 .news-card__title {
  padding-top: 20px;
}
.news-card--2x1 .news-card__title a {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.news-card--2x1 .news-card__date {
  top: 30px;
}
@media (max-width: 1023px) {
  .news-card--2x1 {
    max-height: 400px;
    grid-row: span 2;
  }
}
@media (max-width: 1023px) {
  .news-card--2x2, .news-card--2x1, .news-card--1x2 {
    grid-column: span 1;
  }
}
.news-card--2x2 .news-card__title, .news-card--2x1 .news-card__title, .news-card--1x2 .news-card__title, .news-card--3x2 .news-card__title {
  padding-top: 20px;
}
@media (max-width: 1023px) {
  .news-card--2x2, .news-card--2x1, .news-card--1x2, .news-card--3x2 {
    padding: 40px;
  }
}
@media (max-width: 767px) {
  .news-card--2x2, .news-card--2x1, .news-card--1x2, .news-card--3x2 {
    padding: 30px;
    grid-column: span 2;
    max-height: 350px;
  }
}
.news-card--accent {
  background-color: var(--color-accent);
}
.news-card--accent .news-card__category {
  background-color: #7D8DE4;
}
.news-card--accent p,
.news-card--accent a,
.news-card--accent h3,
.news-card--accent time {
  color: var(--color-white);
}
@media (hover: hover) {
  .news-card--accent:hover {
    background-color: var(--color-white);
  }
  .news-card--accent:hover .news-card__category {
    background-color: var(--color-accent-light);
  }
  .news-card--accent:hover .news-card__category a {
    color: var(--color-accent);
  }
}
@media (hover: hover) and (hover: hover) {
  .news-card--accent:hover .news-card__category:hover {
    background-color: var(--color-accent-light-hover);
  }
}
@media (hover: hover) and (hover: none) {
  .news-card--accent:hover .news-card__category:active {
    background-color: var(--color-accent-light-hover);
  }
}
@media (hover: hover) {
  .news-card--accent:hover .news-card__title a {
    color: var(--color-dark);
  }
  .news-card--accent:hover .news-card__date {
    color: var(--color-dark-light);
  }
}
@media (hover: none) {
  .news-card--accent:active {
    background-color: var(--color-white);
  }
  .news-card--accent:active .news-card__category {
    background-color: var(--color-accent-light);
  }
  .news-card--accent:active .news-card__category a {
    color: var(--color-accent);
  }
}
@media (hover: none) and (hover: hover) {
  .news-card--accent:active .news-card__category:hover {
    background-color: var(--color-accent-light-hover);
  }
}
@media (hover: none) and (hover: none) {
  .news-card--accent:active .news-card__category:active {
    background-color: var(--color-accent-light-hover);
  }
}
@media (hover: none) {
  .news-card--accent:active .news-card__title a {
    color: var(--color-dark);
  }
  .news-card--accent:active .news-card__date {
    color: var(--color-dark-light);
  }
}
.news-card--imaged-bg {
  position: relative;
  background-position: center;
  background-size: cover;
  transition: var(--transition);
}
@media (hover: hover) {
  .news-card--imaged-bg:hover {
    box-shadow: var(--box-shadow-darker);
  }
}
@media (hover: none) {
  .news-card--imaged-bg:active {
    box-shadow: var(--box-shadow-darker);
  }
}
.news-card--imaged-bg::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.15);
  border-radius: inherit;
}
.news-card--imaged-bg .news-card__category {
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.2);
}
@media (hover: hover) {
  .news-card--imaged-bg .news-card__category:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
@media (hover: none) {
  .news-card--imaged-bg .news-card__category:active {
    background-color: rgba(255, 255, 255, 0.4);
  }
}
.news-card--imaged-bg .news-card__title, .news-card--imaged-bg .news-card__text {
  z-index: 1;
}
.news-card--imaged-bg .news-card__category a, .news-card--imaged-bg .news-card__title a {
  color: var(--color-white);
}
.news-card--imaged-bg .news-card__text p {
  color: var(--color-white);
}
.news-card--imaged-bg .news-card__date {
  color: var(--color-white);
  font-weight: 400;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.pagination__list {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.pagination__item {
  position: relative;
}
.pagination__item a {
  font-size: 18px;
}
.pagination__item:not(.dots):after {
  position: absolute;
  left: 50%;
  translate: -50% 0;
  content: "";
  width: 0;
  height: 1px;
  background-color: var(--color-dark);
  top: 100%;
}
@media (hover: hover) {
  .pagination__item:hover::after {
    width: 100%;
  }
}
@media (hover: none) {
  .pagination__item:active::after {
    width: 100%;
  }
}
.pagination__button {
  padding: 0;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  padding-inline: 16px;
  height: 43px;
  background-color: var(--color-accent-light);
  color: var(--color-accent);
  font-size: 18px;
}
@media (hover: hover) {
  .pagination__button:hover {
    background-color: var(--color-accent-light-hover);
  }
}
@media (hover: none) {
  .pagination__button:active {
    background-color: var(--color-accent-light-hover);
  }
}

.footer {
  padding-block: 40px;
  background-color: var(--color-accent-light);
}
.footer__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__logo {
  margin-bottom: 40px;
}
.footer__menu {
  padding-bottom: 64px;
  display: flex;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
@media (max-width: 480px) {
  .footer__menu {
    flex-direction: column;
    row-gap: 24px;
    text-align: center;
  }
}
.footer__link {
  font-size: 18px;
}
.footer__copyright {
  font-size: 14px;
}/*# sourceMappingURL=style.css.map */