.content {
	padding-top: 40px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	column-gap: 40px;

	@include desktop-s {
		grid-template-columns: repeat(3, 1fr);
	}

	&__main {
		grid-column: span 3;
	}

	&__wrapper {
		display: flex;
		gap: 40px;
		flex-direction: column;
	}

	&__row {
		display: flex;
		gap: 40px;
		flex-wrap: wrap;
		min-height: 400px;

		@include tablet {
			gap: 20px;
		}

		@include mobile {
			gap: 40px;

			&:nth-last-child(-n+2) {
				display: none;
			}
		}

		&--small {
			min-height: 280px;

			@include mobile {
				min-height: 350px;
			}
		}
	}

	&__column {
		display: flex;
		gap: 40px;
		flex-direction: column;
		flex-wrap: wrap;

		&--large {
			flex: 2;
		}

		&--small {
			flex: 1;
		}

		@include tablet {

			&--large,
			&--small {
				flex: 1;
			}
		}

		@include mobile {
			min-height: 350px;
		}
	}

	&__pagination {
		margin-top: 80px;
		margin-bottom: 100px;

		@include desktop-s {
			margin-bottom: 0;
		}
	}

	&__load-more {
		margin-top: 40px;
		@include flex-center;
	}

	&__load-more-button {
		@include reset-button;
		display: flex;
		align-items: center;
		column-gap: 10px;
		background-color: var(--color-accent);
		color: var(--color-white);
		border-radius: 20px;
		padding-inline: 68px;
		height: 50px;

		@include hover {
			background-color: var(--color-accent-alt);

			img {
				animation: rotate .6s;
			}
		}
	}
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}