.cross-button {
	@include reset-button;
	@include square(40px);
	border-radius: 50px;
	background-color: var(--color-accent);
	position: relative;

	@include hover {
		background-color: var(--color-accent);

		&::after,
		&::before {
			background-color: var(--color-white);
		}
	}

	&::after,
	&::before {
		@include abs-center;
		content: '';
		width: 50%;
		height: 2px;
		background-color: var(--color-white);
		border-radius: 5px;
	}

	&::after {
		rotate: 45deg;
	}

	&::before {
		rotate: -45deg;
	}
}