.email-form {

	display: flex;
	flex-direction: column;
	row-gap: 21px;

	@include desktop-s {
		flex-direction: row;
		margin-inline: auto;
		column-gap: 20px;
		max-width: 644px;
		width: 100%;
	}

	@include mobile {
		flex-direction: column;
	}

	&__input {
		border-radius: 20px;
		padding-inline: 30px;
		height: 50px;
		width: 100%;
		border: none;
		font-size: 18px;
		background-color: var(--color-light-grey);
		color: rgba(47, 34, 34, 0.6);

		&::placeholder {
			color: var(--color-dark-light);
		}

		@include hover {
			background-color: var(--color-main-background);
		}
	}

	&__button {
		@include reset-button;
		background-color: var(--color-accent);
		height: 50px;
		border-radius: 20px;
		@include flex-center;
		column-gap: 10px;
		width: 100%;
		font-size: 18px;

		@include hover {
			background-color: var(--color-accent-alt);
		}

		@include desktop-s {
			max-width: 244px;
		}

		@include mobile {
			max-width: 100%;
		}

	}
}