.header {
	background-color: var(--color-white);

	&__inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-block: 11px;

		@include tablet {
			padding-block: 5px;
		}
	}

	&__logo {}

	&__menu {}

	&__list {
		display: flex;
		align-items: center;
		gap: 40px;
	}

	&__item {}

	&__link {
		font-size: 18px;
		position: relative;


		&:not(.phone)::after {
			@include abs-center-x;
			content: '';
			width: 0;
			height: 1px;
			background-color: var(--color-dark);
			top: 100%;
		}

		@include hover {
			&::after {
				width: 100%;
			}
		}
	}
}