.hero {
	background-image: url('../images/hero/hero-bg.webp');
	background-size: cover;
	background-position: center;
	height: 300px;

	@include tablet {
		height: 250px;
	}

	@include mobile {
		height: 200px;
	}

	@include mobile-s {
		height: 150px;
	}
}