.news-card {
	flex: 1;
	background-color: var(--color-white);
	border-radius: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
	transition: var(--transition);
	min-width: calc(320px - var(--container-padding-x) * 2);

	@include mobile {
		min-height: 350px;
	}

	@include hover {
		box-shadow: var(--box-shadow);
	}


	&__category {
		color: var(--color-accent);
		background-color: var(--color-accent-light);
		border-radius: 8px;
		padding: 8px 16px;
		position: relative;
		transition: var(--transition);
		z-index: 1;

		@include hover {
			background-color: var(--color-accent-light-hover);
		}

		a::after {
			position: absolute;
			content: '';
			inset: 0;
		}
	}

	&__title {
		padding-top: 30px;
		font-weight: 500;
		font-size: 24px;

		a::after {
			position: absolute;
			content: '';
			inset: 0;
		}
	}

	&__text {
		padding-top: 20px;

		p {
			color: var(--color-dark-light);
			font-size: 18px;

			@include max-lines(6);
		}
	}

	&__date {
		position: absolute;
		top: 40px;
		right: 40px;
		font-size: 16px;
	}

	&--large {
		padding: 40px 120px 0 40px;

		@include tablet {
			padding: 40px 40px 0 40px;
		}
	}

	&--medium {
		padding: 40px 40px 0 40px;
	}

	&--small {
		padding: 40px 30px 0 30px;

		.news-card {
			&__text {
				display: none;
			}

			&__date {
				top: auto;
				right: auto;
				bottom: 40px;
				left: 30px;
			}
		}
	}

	&--extra-small {
		padding: 30px 40px 0 40px;

		.news-card {
			&__title {
				padding-top: 20px;
				@include max-lines(2);
			}

			&__text {
				display: none;
			}

			&__date {
				top: 30px;
				right: 40px;
				bottom: auto;
				left: auto;
			}
		}
	}

	&--accent {
		background-color: var(--color-accent);

		.news-card {
			&__category {
				background-color: #7D8DE4;
			}
		}

		p,
		a,
		h3,
		time {
			color: var(--color-white);
		}

		@include hover {
			background-color: var(--color-white);

			.news-card {
				&__category {
					background-color: var(--color-accent-light);

					a {
						color: var(--color-accent);
					}

					@include hover {
						background-color: var(--color-accent-light-hover);
					}
				}

				&__title {
					a {
						color: var(--color-dark);
					}
				}

				&__date {
					color: var(--color-dark-light);
				}
			}
		}
	}

	&--imaged-bg {
		position: relative;
		background-position: center;
		background-size: cover;
		transition: var(--transition);

		@include hover {
			box-shadow: var(--box-shadow-darker);
		}

		&::before {
			content: '';
			position: absolute;
			inset: 0;
			background-color: rgba(0, 0, 0, 0.15);
			border-radius: inherit;
		}

		.news-card {

			&__category {
				z-index: 2;
				background-color: rgba(255, 255, 255, 0.2);

				@include hover {
					background-color: rgba(255, 255, 255, 0.4);
				}
			}

			&__title,
			&__text {
				z-index: 1;
			}

			&__category,
			&__title {

				a {
					color: var(--color-white);
				}
			}

			&__text {
				p {
					color: var(--color-white);
				}
			}

			&__date {
				color: var(--color-white);
				font-weight: 400;
			}

		}
	}
}