@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT-Book.woff2') format('woff2');
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Futura PT';
	src: url('../fonts/FuturaPT-Medium.woff2') format('woff2');
	font-weight: 500;
	font-display: swap;
}