body {
	font-family: var(--font-family-base);
	color: var(--color-dark);
	background-color: var(--color-main-background);
}

html,
body {
	max-width: 100%;
	// overflow-x: hidden;
}

button {
	cursor: pointer;
}

*::after,
*::before {
	transition: var(--transition);
}

a,
button,
input,
textarea,
svg * {
	transition-duration: var(--transition);
}

a {
	text-decoration: none;
	color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--font-family-base);
}

h2 {
	font-weight: 500;
	font-size: 24px;
	color: var(--color-dark);
}