.container {
	max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
	margin-inline: auto;
	padding-inline: var(--container-padding-x);
}

.visually-hidden {
	position: absolute !important;
	width: 1px !important;
	height: 1px !important;
	margin: -1px !important;
	border: 0 !important;
	padding: 0 !important;
	white-space: nowrap !important;
	clip-path: inset(100%) !important;
	clip: rect(0 0 0 0) !important;
	overflow: hidden !important;
}

.hidden-mobile {
	@include mobile {
		display: none !important;
	}
}

.visible-mobile {
	@include mobile-above {
		display: none !important;
	}
}

.is-current {
	position: relative;
	color: var(--color-accent);

	&::after {
		@include abs-center-x;
		content: '' !important;
		width: 100% !important;
		height: 1px !important;
		background-color: var(--color-accent) !important;
		top: 100% !important;
	}
}

.text-center {
	text-align: center;
}

.phone {
	font-weight: 500;
	display: flex;
	align-items: center;
	gap: 10px;
}

.title {
	font-weight: 500;
	font-size: 24px;
}

.date {
	color: var(--color-dark-light);
	font-weight: 400;
	font-size: 18px;
}

.white-text {
	color: var(--color-white);
}

.accent-text {
	color: var(--color-accent);
}